name: Generate requirements.txt

on:
    push:
        paths:
          - pyproject.toml
          - poetry.lock
    workflow_dispatch:

jobs:
    generate:
        runs-on: ubuntu-latest
        if: github.ref == 'refs/heads/main'
        steps:
            - uses: actions/checkout@v5
            - uses: actions/setup-python@v6
              with:
                python-version: "3.13"
            - uses: snok/install-poetry@v1
            - name: Install poetry-plugin-export
              run: poetry self add poetry-plugin-export
            - name: Export requirements.txt
              run: poetry export -f requirements.txt --output requirements.txt --without-hashes
            - uses: stefanzweifel/git-auto-commit-action@v6
              if: github.event_name != 'pull_request'
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              with:
                commit_message: "chore: update generated requirements.txt"
                branch: main
                file_pattern: "requirements.txt"
