name: vhs
on:
  push:
    branches: [main]
    paths:
      - vhs.tape
  workflow_dispatch:

jobs:
  vhs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
            python-version: "3.13"
      - run: pip install -r requirements.txt
      - uses: charmbracelet/vhs-action@v2
        with:
          path: 'vhs.tape'
      - uses: stefanzweifel/git-auto-commit-action@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          commit_message: "docs: update generated vhs gif"
          branch: main
          file_pattern: "img/demo.gif"